/* Fonts */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptyg83HX_SGhgqO0yLcmjzUAuWexRNRwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISWaA.ttf) format('truetype');
}
/* Colors */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Mulish", sans-serif;
  background: #0f2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}
/* Header elements */
.header__title {
  color: #fff;
  text-align: center;
  margin: 1em 0 0;
}
/* Search Box elements*/
@media (min-width: 992px) {
  .search {
    margin: 2em 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
  }
  .search .form-group {
    margin-bottom: 0;
  }
}
.search__input {
  background-color: #5194ab;
  border-color: #5194ab;
  color: #fff;
}
.search__input:focus {
  color: #fff;
  background-color: #5194ab;
  border-color: #5194ab;
}
.search ::-webkit-input-placeholder {
  /* Edge */
  color: #fff;
}
.search :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
.search ::placeholder {
  color: #fff;
}
.search__subtitle {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  color: #5194ab;
}
@media (min-width: 992px) {
  .search__subtitle {
    margin-right: 1em;
  }
}
.search__custom-radio {
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 1em;
}
@media (min-width: 992px) {
  .search__custom-radio {
    margin: 0;
    gap: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.search__label {
  color: #5194ab;
}
@media (min-width: 992px) {
  .search__label {
    display: none;
  }
}
/* Custom radios */
.custom-radio {
  padding: 0.5em 1em 0.5em 2em;
  background-color: #0f2027;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.custom-radio:first-child {
  margin-top: 0;
}
.custom-control-label::before {
  border-color: #5194ab;
  background-color: #5194ab;
}
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: orange;
  background-color: orange;
}
.custom-control-input ~ .custom-control-label {
  color: #5194ab;
}
.custom-control-input:checked ~ .custom-control-label {
  color: #fff;
}
/* Radio elements*/
.radio__label {
  color: #fff;
}
/* Planet elements */
.planet {
  -webkit-animation: slit-in-vertical 0.45s ease-out both;
  animation: slit-in-vertical 0.45s ease-out both;
}
.planet__title {
  color: #203a43;
}
.planet__label {
  color: #5194ab;
}
/* Button load */
.button__load {
  background-color: orange;
  border-color: orange;
}
.button__load:focus,
.button__load:hover,
.button__load:active {
  background-color: orange;
  border-color: orange;
}
/* Hide some elements */
[data-label-js="name"],
[data-label-js="url"],
[data-label-js="residents"],
[data-label-js="created"],
[data-label-js="edited"],
[data-label-js="films"] {
  display: none !important;
}
/* Transitions */
/* ----------------------------------------------
 * Generated by Animista on 2020-7-9 9:51:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/* ----------------------------------------------
 * Generated by Animista on 2020-7-9 9:57:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/* ----------------------------------------------
 * Generated by Animista on 2020-7-9 10:0:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slit-in-vertical
 * ----------------------------------------
 */
@-webkit-keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}
@keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}
.slit-in-vertical {
  -webkit-animation: slit-in-vertical 0.45s ease-out both;
  animation: slit-in-vertical 0.45s ease-out both;
}
